:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'concert one', cursive;

  --color-dark-primary: rgb(39, 0, 94);
  --color-dark-secondary: rgba(40, 14, 87, 0.958);
  --color-light-primary: rgb(67, 31, 139);
  --color-light-secondary: rgba(67, 31, 139, 0.58);
  --color-selected: rgb(224, 117, 117);
  --shadow-primary: 8px 1.5px 1.5px var(--color-light-primary),
    12px 1.5px 1.5px var(--color-light-primary), 16px 1.5px 1.5px var(--color-light-primary);
  --shadow-secondary: 8px 4px 4px var(--color-dark-secondary), 12px 4px 4px var(--color-dark-secondary),
    16px 4px 4px var(--color-dark-secondary);

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes text-background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes td-rotateZ {
  0% {
    transform: rotateZ(0);
  }
  86% {
    transform: rotateZ(0);
  }

  91% {
    transform: rotateZ(-11deg);
  }

  97% {
    transform: rotateZ(99deg);
  }
  98% {
    transform: rotateZ(88deg);
  }
  99% {
    transform: rotateZ(91deg);
  }

  100% {
    transform: rotateZ(90deg);
  }
}

body {
  padding: 0;
  margin: 0;
  display: flex column;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: var(--ff-primary);
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: center;
}

.header {
  width: 100%;
  display: flex row;
  color: rgb(255, 255, 255);
  font-size: 1em;
  border-radius: 8px;
  box-shadow: 6px px 6px;
}

.magic {
  width: 120px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  font-family: var(--ff-primary);
  animation: text-background-pan 5s linear infinite;
  background: linear-gradient(
    to right,
    var(--color-light-primary),
    white,
    var(--color-selected),
    var(--purple)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

table {
  margin: auto;
  display: table;
  table-layout: fixed;
  background-color: var(--color-dark-primary);
  width: 90%;
  min-width: 500px;
  max-width: 700px;
  padding: 4px;
  border-radius: 6px;
  border: 3px white;
  border-style: groove;
  box-shadow: 6px 6px 6px black;
  text-align: center;
}

.hit {
  background-color: var(--color-selected) !important;
}

.sky {
  background-color: rgb(67, 31, 139);
  border-radius: 6px;
}
.wall {
  background-color: rgba(211, 211, 211, 0.439);
  border: 2px solid rgba(255, 255, 255, 0.509);
  border-radius: 6px;
  animation: td-rotateZ 13s ease-in-out infinite;
}
.bunker {
  border: 2px solid rgba(255, 255, 255, 0.509);
  border-radius: 6px;
  animation: td-rotateZ 13s ease-in-out infinite;
}

.target {
  background-color: var(--color-selected);
  border-radius: 6px;
}

.cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  text-align: center;
}

.cell img {
  width: 25px;
  height: 25px;
}

.cell * {
  min-width: 20px;
  max-width: 20px;
  max-height: 20px;
}

.score {
  color: white;
}

.score1 {
  color: white;
  background-color: white;
  width: 68px;
}

button {
  background-color: white;
  color: white;
  /* font: bold; */
  /* font-size: 1.5rem; */
  border-radius: 8px;
}
