:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'concert one', cursive;

  --br-s: 6px;
  --br-m: 8px;
  --br-l: 10px;

  --color-dark-primary: rgb(39, 0, 94);
  --color-dark-secondary: rgba(40, 14, 87, 0.958);
  --color-light-primary: rgb(67, 31, 139);
  --color-light-secondary: rgba(67, 31, 139, 0.58);
  --color-selected: rgb(224, 117, 117);
  --shadow-primary: 8px 1.5px 1.5px var(--color-light-primary),
    12px 1.5px 1.5px var(--color-light-primary), 16px 1.5px 1.5px var(--color-light-primary);
  --shadow-secondary: 8px 4px 4px var(--color-dark-secondary), 12px 4px 4px var(--color-dark-secondary),
    16px 4px 4px var(--color-dark-secondary);

  --shadow-glow-s: -1px 1px 2px #ffc, 1px -1px 2px #fff;
  --shadow-glow-m: -1px 1px 8px #ffc, 1px -1px 8px #fff;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes text-background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes td-rotateZ {
  0% {
    transform: rotateZ(0);
  }
  86% {
    transform: rotateZ(0);
  }
  91% {
    transform: rotateZ(-11deg);
  }
  97% {
    transform: rotateZ(99deg);
  }
  98% {
    transform: rotateZ(88deg);
  }
  99% {
    transform: rotateZ(91deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}

@keyframes td-rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    text-shadow: var(--shadow-glow-m);
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: var(--ff-primary);
  font-weight: 400;
  text-align: center;
}

.magic {
  width: 120px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  font-family: var(--ff-primary);
  animation: text-background-pan 5s linear infinite;
  background: linear-gradient(
    to right,
    var(--color-light-primary),
    white,
    var(--color-selected),
    var(--purple)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.animation-spin {
  transform-style: preserve-3d;
  animation: td-rotateY 2s infinite ease-in-out alternate;
  animation-delay: 0.8s;
  animation-play-state: running;
  animation-iteration-count: 2;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.background-container > * {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  display: block;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png')
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  top: 120px;
  animation: move-background 70s linear infinite;
}

.header {
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-top: 50px;
}

.header * {
  margin-top: 22px;
}

table {
  margin: auto;
  display: table;
  table-layout: fixed;
  background-color: var(--color-dark-primary);
  min-width: 500px;
  max-width: 700px;
  padding: 4px;
  border: 3px white;
  border-radius: var(--br-s);
  border-style: groove;
}

.sky {
  background-color: rgb(67, 31, 139);
}

.hit {
  background-color: var(--color-selected) !important;
}

.wall {
  background-color: rgba(211, 211, 211, 0.439);
  border: 2px solid rgba(255, 255, 255, 0.509);
  animation: td-rotateZ 13s ease-in-out infinite;
}
.bunker {
  border: 2px solid rgba(255, 255, 255, 0.509);
  animation: td-rotateZ 13s ease-in-out infinite;
}

.cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  border-radius: var(--br-s);
}

.cell * {
  min-width: 20px;
  max-width: 20px;
  max-height: 20px;
}

.score {
  color: white;
}

button {
  border-radius: var(--br-s);
  font-size: 0.7rem;
}
